.topApp-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #fefefe;
  background-color: #272727;
  z-index: 99999999999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.topApp-title {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  color: #32b9eb;
  text-align: center;
}

.topApp-title > img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  vertical-align: middle;
}

.topApp-title > span {
  display: inline-block;
  vertical-align: middle;
}

.topApp-line {
  height: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
  background-color: #32b9eb;
}

.topApp-progress-bar {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 30px;
  text-align: center;
  background-color: rgba(254, 254, 254, .2);
}

.topApp-current-loading {
  position: relative;
  display: block;
  padding-top: 6px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  z-index: 10;
}

.topApp-progress-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-color: green;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  z-index: 0;
}

.topApp-os-alert {
  margin-bottom: 8px;
  padding: 0 10px;
  text-align: center;
}

.topApp-date {
  margin-bottom: 10px;
  text-align: center;
}

.topApp-wait {
  margin-bottom: 15px;
  padding: 0 10px;
  text-align: center;
}

.topApp-scan-file {
  padding: 8px;
  text-align: center;
}

.topApp-file-alerts {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
  color: #ff0000;
}

.topApp-install-text {
  padding: 0 10px;
  text-align: center;
}

.topApp-buttons {
  overflow: hidden;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topApp-button {
  display: block;
  width: 50%;
  height: 50px;
  float: left;
  font-size: 22px;
  border: 1px solid #c2c2c2;
  background-color: #272727;
  color: #00ff00;
  cursor: pointer;
}

.topApp-button:focus {
  outline: none;
}

.topApp-button:last-child {
  color: #fefefe;
  border-left: 0;
}