body{
  -webkit-text-size-adjust: none;
}

.topApp-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #fefefe;
  background-color: #272727;
  z-index: 99999999999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

.topApp-title {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  color: #32b9eb;
  text-align: center;
}

.topApp-title > img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  vertical-align: middle;
}

.topApp-title > span {
  display: inline-block;
  vertical-align: middle;
}

.topApp-line {
  height: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
  background-color: #32b9eb;
}

.topApp-progress-bar {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 30px;
  text-align: center;
  background-color: rgba(254, 254, 254, .2);
}

.topApp-current-loading {
  position: relative;
  display: block;
  padding-top: 6px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  z-index: 10;
}

.topApp-progress-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-color: green;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  z-index: 0;
}

.topApp-os-alert {
  margin-bottom: 8px;
  padding: 0 10px;
  text-align: center;
}

.topApp-date {
  margin-bottom: 10px;
  text-align: center;
}

.topApp-wait {
  margin-bottom: 15px;
  padding: 0 10px;
  text-align: center;
}

.topApp-scan-file {
  padding: 8px;
  text-align: center;
}

.topApp-file-alerts {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
  color: #ff0000;
}

.topApp-install-text {
  padding: 0 10px;
  text-align: center;
}

.topApp-buttons {
  overflow: hidden;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 20px;
}

.topApp-button {
  display: block;
  width: 50%;
  height: 50px;
  float: left;
  font-size: 22px;
  line-height: 45px;
  border: 1px solid #c2c2c2;
  background-color: #272727;
  color: #00ff00;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.topApp-button:focus {
  outline: none;
}

.topApp-button:last-child {
  color: #fefefe;
  border-left: 0;
}

@media (max-height: 580px) {
  .topApp-wrapper {
    font-size: 14px;
  }
}

@media (max-height: 500px) {
  .topApp-title {
    padding-top: 5px;
  }

  .topApp-title>img {
    width: 34px;
    height: 34px;
  }

  .topApp-line {
    height: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .topApp-os-alert {
    margin-bottom: 2px;
  }

  .topApp-date {
    margin-bottom: 8px;
  }

  .topApp-wait {
    margin-bottom: 12px;
  }

  .topApp-progress-bar {
    height: 25px;
  }

  .topApp-current-loading {
    padding-top: 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .topApp-progress-bar-bg {
    height: 25px;
  }

  .topApp-file-alerts {
    margin-top: 0;
    font-size: 14px;
  }

  .topApp-buttons {
    padding-top: 15px;
  }

  .topApp-button {
    height: 40px;
    font-size: 18px;
    line-height: 36px;
  }
}

@media (max-height: 400px) {
  .topApp-line {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .topApp-os-alert {
    margin-bottom: 0;
    padding: 0;
  }

  .topApp-date {
    margin-bottom: 5px;
  }

  .topApp-wait {
    margin-bottom: 10px;
  }

  .topApp-progress-bar {
    height: 18px;
  }

  .topApp-progress-bar-bg {
    height: 18px;
  }

  .topApp-current-loading {
    padding-top: 2px;
    font-size: 14px;
    line-height: 14px;
  }

  .topApp-scan-file {
    padding: 4px;
  }

  .topApp-file-alerts {
    margin-bottom: 5px;
  }

  .topApp-buttons {
    padding-top: 8px;
  }

  .topApp-button {
    height: 33px;
    font-size: 15px;
    line-height: 28px;
  }
}